<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Francis Smith</title>
</head>


<body background="piano.jpeg" class="plan_backg">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Francis Smith <br /> <span class="meaning"> -flowers with meaning -</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav justify-content-end">
        <a class="nav-item nav-link" id="button1" href="../../index.html">Home</a>
        <a class="nav-item nav-link" href="../../index.html#anchor1">About us</a>
        <a class="nav-item nav-link" href="../../index.html#repeatPrescription">Flowers</a>
        <a class="nav-item nav-link" href="../../index.html#instagram">Gallery</a>
        <a class="nav-item nav-link" href="../../index.html#wellness">Wellness @ -1</a>
    </div>
    </div>
  </nav>
<div class="Subscription_options">

  <br>
  <br>
  <br>

  <br>
  <div class="subscription_buttons">
      <div class="col align-self-center">
    <a href="weekly.html" class="btn btn-light">Weekly Flowers</a>
    <br>
    <a href="fortnightly.html" class="btn btn-light">Fortnightly Flowers</a>
    <br>
    <a href="monthly.html" class="btn btn-light">Monthly</a>
      </div>

  </div>

    <!-- <div class="card-body">
      <h5 class="card-title">Fortnightly Bouquet</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Subscribe</a>
    </div>
  </>

  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Monthly Bouquet</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Subscribe</a>
    </div>
  </div> -->
  </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
